<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Engster"
        tools:targetApi="31">
        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Imagepage"
            android:exported="true"
            android:parentActivityName=".Quiz" />
        <activity
            android:name=".WordExpage"
            android:exported="true"
            android:parentActivityName=".Quiz" />
        <activity
            android:name=".Allpage"
            android:exported="true"
            android:parentActivityName=".Quiz" />
        <activity
            android:name=".Editpage"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Quiz"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Addpage"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>